* {
    margin: 0; padding: 0;
    box-sizing: border-box;
}

body {
    font-family: -apple-system, BlinkMacSystemFont, 'Helvetica', 'Arial', sans-serif;
    font-size: 1em;
    line-height: 1.3em;
    color: #333;
}

h1 {
    font-weight: normal;
}

a {
    color: #00f;
}

a:visited {
    color: #99f;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    overflow: auto;
    background: #333;
    z-index: 1;
}

header a {
    -webkit-touch-callout: none;
}

header .logo {
    float: left;
    padding: .85em .6em;
    font-size: 1.6em;
    color: #fff;
    text-decoration: none;
    -webkit-tap-highlight-color: transparent;
}

header .menu-toggle {
    float: right;
    margin: .75em;
    padding: .25em .35em;
    font-size: 1.35em;
    line-height: 1em;
    color: #fff;
    text-decoration: none;
    background: #444;
    border-radius: .2em;
}

header nav ul {
    display: none;
    clear: both;
    background: #444;
}

header nav ul li {
    list-style: none;
}

header nav ul li a {
    display: block;
    padding: .8em 1em;
    color: #fff;
    text-decoration: none;
}

header nav ul li a:hover {
    background: #888;
}

.loading {
    height: 100%;
    background: url('/images/spinner.gif') no-repeat center center;
    background-size: 3em 3em;
}

.feed {
    margin-top: 2.5em;
    padding: .8em;
    font-size: 1.3em;
    line-height: 1.3em;
}

.feed .story {
    padding: .4em 0;
    position: relative;
    list-style: none;
}

.feed .story a {
    text-decoration: none;
}

.feed .story .site a {
    font-size: .75em;
    line-height: 1em;
    color: #666;
}

.feed .story .icon {
    content: '';
    display: inline-block;
    margin: 0 .25em 0 0;
    width: 16px;
    height: 16px;
    background: url('/images/icons.png') no-repeat;
    background-size: 16px 80px;
}

.feed .story[data-origin*="theverge.com"] .icon {
    background-position: 0 -16px;
}

.feed .story[data-origin*="polygon.com"] .icon {
    background-position: 0 -32px;
}

.feed .story[data-origin*="daringfireball.net"] .icon {
    background-position: 0 -48px;
}

.feed .story[data-origin*="designernews.co"] .icon {
    background-position: 0 -64px;
}

.feed p {
    padding: 2.5em 0;
    text-align: center;
}
